* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rebeccapurple;
}


.leaflet-container {
  width: 100%;
  height: 100%;
}

#wrapper {
  width: 100vw;
  height: 100vh;
}

#placeMessage {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 25px;
  right: 18px;
  background-color: black;
  color: white;
  border-radius: 17px;
  border-color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  z-index: 1000;
}


#placeMessage:active {
  opacity: 0.5;
}

.signInContainer {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 17px;
  z-index: 1000;
}

.signUpContainer {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 230px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 17px;
  z-index: 1002;
}

.postContainer {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 230px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 17px;
  z-index: 1002;
}

.signInText {
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.signInInput {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.postInput {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 150px;
}